<div class="sidebar d-flex flex-column">
    <div>
      <a  id="menu-btn" class="nav-icon cursor-pointer"> <i class="bi bi-justify "></i>
        <figure class="mb-0 t-text-oerflow">
        <img src="./assets/logo/angular.svg" class="t-img-xm mx-3">
        <figcaption class=" mx-3">Base Angular Features</figcaption>
        </figure>
      </a>
    </div>
    <ul class="nav side-nav align-items-start my-auto w-100">
      <!-- <li >
        <a class="nav-icon">
          <i class="bi bi-house-door"></i>
          <span class="mx-3">Home</span>
        </a>
      </li> -->
      <!-- <li >
        <a  routerLink="/storage" routerLinkActive="nav-icon-active" class="nav-icon ">
          <i class="bi bi-cloud "></i>
          <span class="mx-3">Cloud</span>
        </a>
      </li>
      <li>
        <a class="nav-icon" routerLink='/projects' routerLinkActive="nav-icon-active">
          <i class="bi bi-box " ></i>
          <span class=" mx-3">Projects</span>
        </a>
      </li>
      <li>
        <a class="nav-icon t-text-oerflow" routerLink='/usermanagement' routerLinkActive="nav-icon-active">
          <i class="bi bi-people "></i>
          <span class=" mx-3" >User Management</span>
        </a>
      </li>
      <li class="mb-auto">
        <a routerLink='/clients' routerLinkActive="nav-icon-active" class="nav-icon ">
          <i class="bi bi-briefcase "></i>
          <span class=" mx-3">Clients</span>
        </a>
      </li> -->
    </ul>
    <!-- <div class="align-items-end">
      <a class="nav-icon" >
        <i class="bi bi-gear "></i>
        <span class=" mx-3">Settings</span>
      </a>
    </div> -->
  </div>